body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

#cover-img {
  width: 80%;
  max-width: 300px;
  margin-top: 40px;
}

button {
  padding: 12px 20px;
  margin: 15px;
  font-size: 18px;
  border: none;
  background: #444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #666;
}

#story-list button {
  width: 80%;
  max-width: 300px;
}

#bg-img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: 20px;
}

#choices button {
  display: block;
  width: 80%;
  max-width: 300px;
  margin: 10px auto;
}
